<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuos.live.mapper.GiftCouponMapper">
    <resultMap id="BaseResultMap" type="com.enuos.live.pojo.GiftCoupon">
        <id column="coupon_id" property="couponId"/>
        <result column="user_id" property="userId"/>
        <result column="gift_coupon_id" property="giftCouponId"/>
        <result column="life" property="life"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    coupon_id, user_id, gift_coupon_id, life, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gift_coupon
        where coupon_id = #{couponId,jdbcType=BIGINT}
    </select>
    <!--先删除过期的再查询出结果-->
    <select id="selectUserGiftCouponList" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT
          gc.user_id AS userId,
          gc.gift_coupon_id AS giftCouponId,
          gi.gift_id AS giftId,
          gi.gift_name AS giftName,
          gi.gift_url AS giftUrl,
          gi.dynamic_picture AS dynamicPicture,
          gi.charm_value AS charmValue,
          gi.gift_type AS giftType,
          count(1) num
        FROM
          gift_coupon gc
        INNER JOIN gift gi ON gi.gitf_code = gc.gift_coupon_id
        WHERE
          gc.user_id = #{userId}
        GROUP BY
          gc.user_id,
          gc.gift_coupon_id,
          gi.gift_id,
          gi.gift_name,
          gi.gift_url
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gift_coupon
    where coupon_id = #{couponId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteOverdue">
     DELETE
    from gift_coupon
    where (UNIX_TIMESTAMP(STR_TO_DATE(create_time, '%Y-%m-%d %H:%i:%s' )) + life ) <![CDATA[ < ]]>UNIX_TIMESTAMP( STR_TO_DATE( NOW(), '%Y-%m-%d %H:%i:%s' ))
  </delete>
    <delete id="delUserGiftCoupon">
    DELETE
    from gift_coupon
    where
	  user_id = #{userId}
	  and gift_coupon_id = #{giftCouponId} limit #{count}
  </delete>
    <insert id="insert" keyColumn="coupon_id" keyProperty="couponId" parameterType="com.enuos.live.pojo.GiftCoupon"
            useGeneratedKeys="true">
    insert into gift_coupon (user_id, gift_coupon_id, life,
      create_time)
    values (#{userId,jdbcType=BIGINT}, #{giftCouponId,jdbcType=BIGINT}, #{life,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.enuos.live.pojo.GiftCoupon">
        update gift_coupon
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="giftCouponId != null">
                gift_coupon_id = #{giftCouponId,jdbcType=BIGINT},
            </if>
            <if test="life != null">
                life = #{life,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where coupon_id = #{couponId,jdbcType=BIGINT}
    </update>

    <select id="giftCount" resultType="java.lang.Integer">
      select COUNT(1)
        from gift_coupon
      where
	  user_id = #{userId}
	  and gift_coupon_id = #{giftCouponId}
    </select>
</mapper>