<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuos.live.mapper.VoiceRoomUserTimeMapper">
  <resultMap id="BaseResultMap" type="com.enuos.live.pojo.VoiceRoomUserTime">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="into_time" jdbcType="TIMESTAMP" property="intoTime" />
    <result column="leave_time" jdbcType="TIMESTAMP" property="leaveTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, room_id, into_time, leave_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_voice_room_user_time
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.enuos.live.pojo.VoiceRoomUserTime" useGeneratedKeys="true">
    insert into tb_voice_room_user_time (user_id, room_id, into_time)
    values (#{userId,jdbcType=BIGINT}, #{roomId,jdbcType=BIGINT}, NOW())
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.enuos.live.pojo.VoiceRoomUserTime">
    update tb_voice_room_user_time
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="intoTime != null">
        into_time = #{intoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="update" parameterType="com.enuos.live.pojo.VoiceRoomUserTime">
    update tb_voice_room_user_time
    set leave_time = NOW()
    where user_id = #{userId}
    and room_id = #{roomId}
    and  (select (UNIX_TIMESTAMP(NOW()) - UNIX_TIMESTAMP(into_time) ) ) <![CDATA[ > ]]> 59
    and leave_time is null
  </update>

  <delete id="deleteVoiceRoomUserTime"  parameterType="com.enuos.live.pojo.VoiceRoomUserTime">
    delete from tb_voice_room_user_time
    where user_id = #{userId}
    and room_id = #{roomId}
    and  (select (UNIX_TIMESTAMP(NOW()) - UNIX_TIMESTAMP(into_time) ) ) <![CDATA[ < ]]> 60
    and leave_time is null
  </delete>

  <select id="getRoomAddUpMin" resultType="java.lang.Double">
    SELECT
        sum( ( UNIX_TIMESTAMP( leave_time ) - UNIX_TIMESTAMP( into_time ) ) ) / 60 `dayAddUpMin`
    FROM
        tb_voice_room_user_time
    WHERE
        user_id = #{userId}
        AND DATE_FORMAT( into_time, '%j' ) = DATE_FORMAT( now( ), '%j' )
        AND DATE_FORMAT( leave_time, '%j' ) = DATE_FORMAT( now( ), '%j' )
  </select>
</mapper>