<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuos.live.mapper.PayTypeMapper">
  <resultMap id="BaseResultMap" type="com.enuos.live.pojo.PayType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pay_code" jdbcType="VARCHAR" property="payCode" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pay_code, pay_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByList" resultMap="BaseResultMap">
    select
    id, pay_code, pay_name
    from pay_type
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.enuos.live.pojo.PayType" useGeneratedKeys="true">
    insert into pay_type (pay_code, pay_name, create_time, 
      update_time)
    values (#{payCode,jdbcType=VARCHAR}, #{payName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.enuos.live.pojo.PayType">
    update pay_type
    <set>
      <if test="payCode != null">
        pay_code = #{payCode,jdbcType=VARCHAR},
      </if>
      <if test="payName != null">
        pay_name = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>