<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.enuos.live.mapper.BadgeMapper">

    <!--获取主页徽章-->
    <select id="getWearBadgeList" parameterType="java.lang.Long" resultType="com.enuos.live.pojo.Badge">
        select
        t1.badge_code code,
        t2.pic_url iconUrl
        from tb_user_badge t1
        left join product_info t2 on t2.product_code = t1.badge_code
        where t1.user_id = #{userId} and is_wear = 1
        order by t1.update_time
    </select>
    
    <!--获得的徽章-->
    <select id="getNum" parameterType="java.lang.Long" resultType="java.util.Map">
        select count(1) num from tb_user_badge where user_id = #{userId}
    </select>
    
    <!--类别分页-->
    <select id="getType" resultType="java.lang.Integer">
        select distinct type from product_info where one_category_id = 88 and type is not null order by type
    </select>
    
    <!--获取徽章-->
    <select id="getBadgeList" resultType="com.enuos.live.pojo.Badge">
        select
        t1.product_code code,
        t1.product_name title,
        t1.descript description,
        t1.one_category_id category,
        ifnull(t1.type, 0) type,
        t1.pic_url iconUrl,
        ifnull(t2.is_wear, -1) isWear
        
        from product_info t1
        left join tb_user_badge t2 on t2.badge_code = t1.product_code and t2.user_id = #{userId}
        where t1.one_category_id = 88
        <if test="typeList.size() > 0">
            and t1.type in
            <foreach collection="typeList" item="type" open="(" separator="," close=")">
                #{type}
            </foreach>
        </if>
        order by t1.type, t1.sort
    </select>
    
    <!--获取佩戴状态-->
    <select id="getWear" resultType="java.lang.Integer">
        select is_wear from tb_user_badge where user_id = #{userId} and badge_code = #{code}
    </select>
    
    <!--获取已经佩戴的徽章数-->
    <select id="getWearNum" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1) from tb_user_badge where user_id = #{userId} and is_wear = 1
    </select>
    
    <!--佩戴/卸下-->
    <update id="updateWear">
        update tb_user_badge
        set is_wear = #{wear}
        where user_id = #{userId} and badge_code = #{code}
    </update>
    
    <!--内部调用-->
    <!--获取已经存在的用户徽章-->
    <select id="getBadgeCode" parameterType="java.util.List" resultType="java.lang.String">
        select badge_code from tb_user_badge where user_id = #{userId}
        and badge_code in
        <foreach collection="badgeList" item="item" open="(" separator="," close=")">
            #{item.rewardCode}
        </foreach>
    </select>

    <!--批量新增-->
    <insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true">
        insert into tb_user_badge (user_id, badge_code) values
        <foreach collection="badgeList" item="item" separator=",">
            (#{userId}, #{item.rewardCode})
        </foreach>
    </insert>
</mapper>