<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.enuos.live.mapper.DeviceMapper">

    <!--该用户的设备号绑定了几个用户ID-->
    <select id="getCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select
        count(distinct t2.user_id)
        from tb_device t1
        inner join tb_device t2 on t2.number = t1.number
        where t1.user_id = #{userId}
    </select>
    
    <!--设备号是否存在-->
    <select id="isExists" resultType="java.lang.Integer">
        select 1 from tb_device where number = #{number} and type = #{type}
    </select>

    <!--保存-->
    <insert id="save" useGeneratedKeys="true">
        insert into tb_device (user_id, number, type) values (#{userId}, #{number}, #{type})
    </insert>
</mapper>