<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuos.live.mapper.ChatMessageDeleteMapper">

  <!--新增数据-->
  <insert id="insertMessage" parameterType="java.util.List" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO chat_message_delete (
      user_id,
      target_id
    ) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.userId},
      #{item.targetId})
    </foreach>
  </insert>

  <insert id="insertChatMessageRelation" parameterType="com.enuos.live.pojo.ChatMessageDelete"
    useGeneratedKeys="true" keyProperty="id">
      INSERT INTO chat_message_delete (
        user_id,
        target_id
      ) VALUES (
        #{userId,jdbcType=BIGINT},
        #{targetId,jdbcType=BIGINT}
      )
  </insert>

  <!--修改数据-->
  <update id="updateSignNum">
    UPDATE chat_message_delete
       SET sign_num = sign_num + 1
     WHERE user_id = #{userId,jdbcType=BIGINT}
       AND target_id  = #{targetId,jdbcType=BIGINT}
  </update>

  <!--获得最后时间-->
  <select id="queryMessageDateTime" resultType="java.lang.String">
    SELECT update_time
      FROM chat_message_delete
     WHERE user_id = #{userId,jdbcType=BIGINT}
       AND target_id  = #{targetId,jdbcType=BIGINT}
  </select>

  <delete id="deleteMessage">
    DELETE FROM chat_message_delete
     WHERE user_id = #{userId,jdbcType=BIGINT}
       AND target_id  = #{targetId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteMessageAll" parameterType="java.lang.Long">
    DELETE FROM chat_message_delete
     WHERE user_id = #{userId,jdbcType=BIGINT}
  </delete>
</mapper>