<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.enuos.live.mapper.GroupMessageFileMapper">
  <insert id="newGroupMessageFile" parameterType="com.enuos.live.pojo.ChatMessageFile"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO group_message_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="fileType != null">
        file_type,
      </if>
      <if test="fileDuration != null">
        file_duration,
      </if>
      <if test="fileWidth != null">
        file_width,
      </if>
      <if test="fileHeight != null">
        file_height,
      </if>
      <if test="fileUrl != null and fileUrl != ''">
        file_url,
      </if>
      <if test="fileCoverUrl != null and fileCoverUrl != ''">
        file_cover_url,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileDuration != null">
        #{fileDuration,jdbcType=INTEGER},
      </if>
      <if test="fileWidth != null">
        #{fileWidth,jdbcType=INTEGER},
      </if>
      <if test="fileHeight != null">
        #{fileHeight,jdbcType=INTEGER},
      </if>
      <if test="fileUrl != null and fileUrl != ''">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileCoverUrl != null and fileCoverUrl != ''">
        #{fileCoverUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="getMessageFileInfo" parameterType="java.lang.Long"
    resultType="com.enuos.live.pojo.GroupMessageFile">
      SELECT record_id      AS recordId,
             file_type      AS fileType,
             file_duration  AS fileDuration,
             file_width     AS fileWidth,
             file_height    AS fileHeight,
             file_url       AS fileUrl,
             file_cover_url AS fileCoverUrl
        FROM group_message_file
       WHERE record_id = #{recordId,jdbcType=BIGINT}
  </select>

  <delete id="deleteGroupMessage" parameterType="java.lang.Long">
    DELETE FROM group_message_file
     WHERE group_id = #{groupId,jdbcType=BIGINT}
  </delete>
</mapper>