<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuos.live.mapper.GameUserRecordMapper">

  <select id="getRecentlyGameList" resultType="java.util.Map" parameterType="java.lang.Long">
    SELECT tab2.game_code                             AS gameCode,
           tab2.game_name                             AS gameName,
           tab2.game_cover                            AS gameCover
      FROM game_user_record tab1
      LEFT JOIN game tab2
        ON tab1.game_code = tab2.game_code
     WHERE tab1.user_id = #{userId,jdbcType=BIGINT}
     ORDER BY tab1.update_time DESC LIMIT 10
  </select>

  <select id="getFrequentlyGameList" resultType="java.util.Map" parameterType="java.lang.Long">
    SELECT tab2.game_code                             AS gameCode,
           tab2.game_name                             AS gameName,
           tab2.game_cover                            AS gameCover
      FROM game_user_record tab1
      LEFT JOIN game tab2
        ON tab1.game_code = tab2.game_code
     WHERE tab1.user_id = #{userId,jdbcType=BIGINT}
     ORDER BY tab1.game_play DESC LIMIT 10
  </select>

  <update id="updateUserRecord">
    UPDATE game_user_record
       SET game_play = game_play + 1
     WHERE game_code = #{gameCode,jdbcType=BIGINT}
       AND user_id = #{userId,jdbcType=BIGINT}
  </update>

  <insert id="insertUserRecord" parameterType="com.enuos.live.pojo.GameUserRecord"
    useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO game_user_record (
      user_id,
      game_play,
      game_code
    ) VALUES (
      #{userId,jdbcType=BIGINT},
      #{gamePlay,jdbcType=INTEGER},
      #{gameCode,jdbcType=BIGINT}
    )
  </insert>

  <select id="getNumberOfData" resultType="java.lang.Integer">
    SELECT COUNT(user_id)
      FROM game_user_record
     WHERE game_code = #{gameCode,jdbcType=BIGINT}
       AND user_id = #{userId,jdbcType=BIGINT}
  </select>

</mapper>