<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.enuos.live.mapper.Thesaurus30051LabelMapper">

  <select id="getQuestionsLabel" resultType="java.util.Map">
    SELECT label_id    AS labelCode,
           label_title AS labelTitle
      FROM thesaurus30051_label
     ORDER BY label_id ASC
  </select>

</mapper>